{% extends "layout.html" %}

{% block heading %}
    Exercise !!!!
{% endblock %}

{% block body %}
        <p>
            Exercise : <br><br>
            Exercise is very important thing.<br><br> It is basic need same like food , clothing , shelter.<br><br>
            It increases Oxygen intake and Oxygen flow in our body.<br><br> It literally helps body to cleanse dead
            cells in our body. <br><br> Exercise balances our blood , sugar levels. Keeps us fresh and young.<br><br>
            Improves our skin quality and hair quality. It makes us beautiful in and out. :)

        </p>

        <!--Foll line means I want the url for more function the one
            which we defined in python file-->
        <a href="{{ url_for('more') }}">See More...</a>
{% endblock %}
