<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Website!!</title>
    </head>
    <body>
        <h1>Yog / Yoga</h1>

        <p>
            Yog / Yoga :<br><br>
            Yog / Yoga is the most versatile miraculous way for exercise.<br><br> Being Indian I am proud
            to hear that Yog proved to be the most awesome gift of India to the world.<br><br>
            Patanjali Rishi wrote the Yog Sutras.
        </p>

        <a href="{{ url_for('index_for_linking') }}">Go Back...</a>

    </body>
</html>
